{% extends 'base.html' %}

{% block content %}
<h2>Gestionar Compras</h2>

<a href="{% url 'añadir_compra' %}" class="btn btn-primary mb-3">Añadir Compra</a>

<form method="get" action="{% url 'filtrar_compras' %}">
    <div class="row mb-3">
        <div class="col-md-3">
            <input type="date" class="form-control" placeholder="Fecha" name="fecha" value="{{ request.GET.fecha }}">
        </div>
        <div class="col-md-3">
            <select id="proveedor" name="proveedor" class="form-control">
                <option value="">Proveedor (Todos)</option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}" {% if request.GET.proveedor == proveedor.id|stringformat:"s" %}selected{% endif %}>{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select id="estado" name="estado" class="form-control">
                <option value="">Filtrar estado (Todos)</option>
                <option value="activado" {% if request.GET.estado == "activado" %}selected{% endif %}>Activado</option>
                <option value="inactivado" {% if request.GET.estado == "inactivado" %}selected{% endif %}>Inactivado</option>
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-outline-info">Buscar</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Proveedor</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.id }}</td>
            <td>{{ compra.fecha_Compra }}</td>
            <td>{{ compra.total_Compra }}</td>
            <td>{{ compra.proveedor_Id.nombre }}</td>
            <td>
                {% if compra.estado %}
                    Activa
                {% else %}
                    Inactiva
                {% endif %}
            </td>
            <td>
                <a href="{% url 'editar_compra' compra.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'activar_inactivar_compra' compra.id %}" class="btn btn-sm btn-secondary">
                    {% if compra.estado %}Inactivar{% else %}Activar{% endif %}
                </a>
                <a href="{% url 'eliminar_compra' compra.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
